button,
html input[type="button"], /* 1 */
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button; /* 2 */
  cursor: pointer; /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */

button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */

input {
  line-height: normal;
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */

input[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box; /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/*csslint important:false*/

.hidden,
[hidden] {
    display: none !important;
}
/*csslint box-model:false*/

.newspilot-form input[type="text"],
.newspilot-form input[type="password"],
.newspilot-form input[type="email"],
.newspilot-form input[type="url"],
.newspilot-form input[type="date"],
.newspilot-form input[type="month"],
.newspilot-form input[type="time"],
.newspilot-form input[type="datetime"],
.newspilot-form input[type="datetime-local"],
.newspilot-form input[type="week"],
.newspilot-form input[type="number"],
.newspilot-form input[type="search"],
.newspilot-form input[type="tel"],
.newspilot-form input[type="color"],
.newspilot-form select,
.newspilot-form textarea {
    padding: 0.5em 0.6em;
    display: inline-block;
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 3px #ddd;
    border-radius: 4px;
    vertical-align: middle;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/*
Need to separate out the :not() selector from the rest of the CSS 2.1 selectors
since IE8 won't execute CSS that contains a CSS3 selector.
*/
.newspilot-form input:not([type]) {
    padding: 0.5em 0.6em;
    display: inline-block;
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 3px #ddd;
    border-radius: 4px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


.newspilot-form input[type="text"]:focus,
.newspilot-form input[type="password"]:focus,
.newspilot-form input[type="email"]:focus,
.newspilot-form input[type="url"]:focus,
.newspilot-form input[type="date"]:focus,
.newspilot-form input[type="month"]:focus,
.newspilot-form input[type="time"]:focus,
.newspilot-form input[type="datetime"]:focus,
.newspilot-form input[type="datetime-local"]:focus,
.newspilot-form input[type="week"]:focus,
.newspilot-form input[type="number"]:focus,
.newspilot-form input[type="search"]:focus,
.newspilot-form input[type="tel"]:focus,
.newspilot-form select:focus,
.newspilot-form textarea:focus {
    outline: 0;
    border-color: #129FEA;
}

/*
Need to separate out the :not() selector from the rest of the CSS 2.1 selectors
since IE8 won't execute CSS that contains a CSS3 selector.
*/
.newspilot-form input:not([type]):focus {
    outline: 0;
    border-color: #129FEA;
}

.newspilot-form input[type="file"]:focus,
.newspilot-form input[type="radio"]:focus,
.newspilot-form input[type="checkbox"]:focus {
    outline: thin solid #129FEA;
    outline: 1px auto #129FEA;
}
.newspilot-form .newspilot-checkbox,
.newspilot-form .newspilot-radio {
    margin: 0.5em 0;
    display: block;
}

.newspilot-form input[type="text"][disabled],
.newspilot-form input[type="password"][disabled],
.newspilot-form input[type="email"][disabled],
.newspilot-form input[type="url"][disabled],
.newspilot-form input[type="date"][disabled],
.newspilot-form input[type="month"][disabled],
.newspilot-form input[type="time"][disabled],
.newspilot-form input[type="datetime"][disabled],
.newspilot-form input[type="datetime-local"][disabled],
.newspilot-form input[type="week"][disabled],
.newspilot-form input[type="number"][disabled],
.newspilot-form input[type="search"][disabled],
.newspilot-form input[type="tel"][disabled],
.newspilot-form input[type="color"][disabled],
.newspilot-form select[disabled],
.newspilot-form textarea[disabled] {
    cursor: not-allowed;
    background-color: #eaeded;
    color: #cad2d3;
}

/*
Need to separate out the :not() selector from the rest of the CSS 2.1 selectors
since IE8 won't execute CSS that contains a CSS3 selector.
*/
.newspilot-form input:not([type])[disabled] {
    cursor: not-allowed;
    background-color: #eaeded;
    color: #cad2d3;
}
.newspilot-form input[readonly],
.newspilot-form select[readonly],
.newspilot-form textarea[readonly] {
    background-color: #eee; /* menu hover bg color */
    color: #777; /* menu text color */
    border-color: #ccc;
}

.newspilot-form input:focus:invalid,
.newspilot-form textarea:focus:invalid,
.newspilot-form select:focus:invalid {
    color: #b94a48;
    border-color: #e9322d;
}
.newspilot-form input[type="file"]:focus:invalid:focus,
.newspilot-form input[type="radio"]:focus:invalid:focus,
.newspilot-form input[type="checkbox"]:focus:invalid:focus {
    outline-color: #e9322d;
}
.newspilot-form select {
    /* Normalizes the height; padding is not sufficient. */
    height: 2.25em;
    border: 1px solid #ccc;
    background-color: white;
}
.newspilot-form select[multiple] {
    height: auto;
}
.newspilot-form label {
    margin: 0.5em 0 0.2em;
}
.newspilot-form fieldset {
    margin: 0;
    padding: 0.35em 0 0.75em;
    border: 0;
}
.newspilot-form legend {
    display: block;
    width: 100%;
    padding: 0.3em 0;
    margin-bottom: 0.3em;
    color: #333;
    border-bottom: 1px solid #e5e5e5;
}

.newspilot-form-stacked input[type="text"],
.newspilot-form-stacked input[type="password"],
.newspilot-form-stacked input[type="email"],
.newspilot-form-stacked input[type="url"],
.newspilot-form-stacked input[type="date"],
.newspilot-form-stacked input[type="month"],
.newspilot-form-stacked input[type="time"],
.newspilot-form-stacked input[type="datetime"],
.newspilot-form-stacked input[type="datetime-local"],
.newspilot-form-stacked input[type="week"],
.newspilot-form-stacked input[type="number"],
.newspilot-form-stacked input[type="search"],
.newspilot-form-stacked input[type="tel"],
.newspilot-form-stacked input[type="color"],
.newspilot-form-stacked input[type="file"],
.newspilot-form-stacked select,
.newspilot-form-stacked label,
.newspilot-form-stacked textarea {
    display: block;
    margin: 0.25em 0;
}

/*
Need to separate out the :not() selector from the rest of the CSS 2.1 selectors
since IE8 won't execute CSS that contains a CSS3 selector.
*/
.newspilot-form-stacked input:not([type]) {
    display: block;
    margin: 0.25em 0;
}
.newspilot-form-aligned input,
.newspilot-form-aligned textarea,
.newspilot-form-aligned select,
/* NOTE: newspilot-help-inline is deprecated. Use .newspilot-form-message-inline instead. */
.newspilot-form-aligned .newspilot-help-inline,
.newspilot-form-message-inline {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    vertical-align: middle;
}
.newspilot-form-aligned textarea {
    vertical-align: top;
}

/* Aligned Forms */
.newspilot-form-aligned .newspilot-control-group {
    margin-bottom: 0.5em;
}
.newspilot-form-aligned .newspilot-control-group label {
    text-align: right;
    display: inline-block;
    vertical-align: middle;
    width: 10em;
    margin: 0 1em 0 0;
}
.newspilot-form-aligned .newspilot-controls {
    margin: 1.5em 0 0 11em;
}

/* Rounded Inputs */
.newspilot-form input.newspilot-input-rounded,
.newspilot-form .newspilot-input-rounded {
    border-radius: 2em;
    padding: 0.5em 1em;
}

/* Grouped Inputs */
.newspilot-form .newspilot-group fieldset {
    margin-bottom: 10px;
}
.newspilot-form .newspilot-group input,
.newspilot-form .newspilot-group textarea {
    display: block;
    padding: 10px;
    margin: 0 0 -1px;
    border-radius: 0;
    position: relative;
    top: -1px;
}
.newspilot-form .newspilot-group input:focus,
.newspilot-form .newspilot-group textarea:focus {
    z-index: 3;
}
.newspilot-form .newspilot-group input:first-child,
.newspilot-form .newspilot-group textarea:first-child {
    top: 1px;
    border-radius: 4px 4px 0 0;
    margin: 0;
}
.newspilot-form .newspilot-group input:first-child:last-child,
.newspilot-form .newspilot-group textarea:first-child:last-child {
    top: 1px;
    border-radius: 4px;
    margin: 0;
}
.newspilot-form .newspilot-group input:last-child,
.newspilot-form .newspilot-group textarea:last-child {
    top: -2px;
    border-radius: 0 0 4px 4px;
    margin: 0;
}
.newspilot-form .newspilot-group button {
    margin: 0.35em 0;
}

.newspilot-form .newspilot-input-1 {
    width: 100%;
}
.newspilot-form .newspilot-input-2-3 {
    width: 66%;
}
.newspilot-form .newspilot-input-1-2 {
    width: 50%;
}
.newspilot-form .newspilot-input-1-3 {
    width: 33%;
}
.newspilot-form .newspilot-input-1-4 {
    width: 25%;
}

/* Inline help for forms */
/* NOTE: newspilot-help-inline is deprecated. Use .newspilot-form-message-inline instead. */
.newspilot-form .newspilot-help-inline,
.newspilot-form-message-inline {
    display: inline-block;
    padding-left: 0.3em;
    color: #666;
    vertical-align: middle;
    font-size: 0.875em;
}

/* Block help for forms */
.newspilot-form-message {
    display: block;
    color: #666;
    font-size: 0.875em;
}

@media only screen and (max-width : 480px) {
    .newspilot-form button[type="submit"] {
        margin: 0.7em 0 0;
    }

    .newspilot-form input:not([type]),
    .newspilot-form input[type="text"],
    .newspilot-form input[type="password"],
    .newspilot-form input[type="email"],
    .newspilot-form input[type="url"],
    .newspilot-form input[type="date"],
    .newspilot-form input[type="month"],
    .newspilot-form input[type="time"],
    .newspilot-form input[type="datetime"],
    .newspilot-form input[type="datetime-local"],
    .newspilot-form input[type="week"],
    .newspilot-form input[type="number"],
    .newspilot-form input[type="search"],
    .newspilot-form input[type="tel"],
    .newspilot-form input[type="color"],
    .newspilot-form label {
        margin-bottom: 0.3em;
        display: block;
    }

    .newspilot-group input:not([type]),
    .newspilot-group input[type="text"],
    .newspilot-group input[type="password"],
    .newspilot-group input[type="email"],
    .newspilot-group input[type="url"],
    .newspilot-group input[type="date"],
    .newspilot-group input[type="month"],
    .newspilot-group input[type="time"],
    .newspilot-group input[type="datetime"],
    .newspilot-group input[type="datetime-local"],
    .newspilot-group input[type="week"],
    .newspilot-group input[type="number"],
    .newspilot-group input[type="search"],
    .newspilot-group input[type="tel"],
    .newspilot-group input[type="color"] {
        margin-bottom: 0;
    }

    .newspilot-form-aligned .newspilot-control-group label {
        margin-bottom: 0.3em;
        text-align: left;
        display: block;
        width: 100%;
    }

    .newspilot-form-aligned .newspilot-controls {
        margin: 1.5em 0 0 0;
    }

    /* NOTE: newspilot-help-inline is deprecated. Use .newspilot-form-message-inline instead. */
    .newspilot-form .newspilot-help-inline,
    .newspilot-form-message-inline,
    .newspilot-form-message {
        display: block;
        font-size: 0.75em;
        /* Increased bottom padding to make it group with its related input element. */
        padding: 0.2em 0 0.8em;
    }
}
/*!
Pure v0.6.0
Copyright 2014 Yahoo! Inc. All rights reserved.
Licensed under the BSD License.
https://github.com/yahoo/pure/blob/master/LICENSE.md
*/
.newspilot-button {
    /* Structure */
    display: inline-block;
    zoom: 1;
    line-height: normal;
    white-space: nowrap;
    vertical-align: middle;
    text-align: center;
    cursor: pointer;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/* Firefox: Get rid of the inner focus border */
.newspilot-button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

/*csslint outline-none:false*/

.newspilot-button {
    font-family: inherit;
    font-size: 100%;
    padding: 0.5em 1em;
    color: #444; /* rgba not supported (IE 8) */
    color: rgba(0, 0, 0, 0.80); /* rgba supported */
    border: 1px solid #999;  /*IE 6/7/8*/
    border: none rgba(0, 0, 0, 0);  /*IE9 + everything else*/
    background-color: #E6E6E6;
    text-decoration: none;
    border-radius: 2px;
}

.newspilot-button-hover,
.newspilot-button:hover,
.newspilot-button:focus {
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#1a000000',GradientType=0);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(transparent), color-stop(40%, rgba(0,0,0, 0.05)), to(rgba(0,0,0, 0.10)));
    background-image: -webkit-linear-gradient(transparent, rgba(0,0,0, 0.05) 40%, rgba(0,0,0, 0.10));
    background-image: -moz-linear-gradient(top, rgba(0,0,0, 0.05) 0%, rgba(0,0,0, 0.10));
    background-image: -o-linear-gradient(transparent, rgba(0,0,0, 0.05) 40%, rgba(0,0,0, 0.10));
    background-image: linear-gradient(transparent, rgba(0,0,0, 0.05) 40%, rgba(0,0,0, 0.10));
}
.newspilot-button:focus {
    outline: 0;
}
.newspilot-button-active,
.newspilot-button:active {
    box-shadow: 0 0 0 1px rgba(0,0,0, 0.15) inset, 0 0 6px rgba(0,0,0, 0.20) inset;
    border-color: #000\9;
}

.newspilot-button[disabled],
.newspilot-button-disabled,
.newspilot-button-disabled:hover,
.newspilot-button-disabled:focus,
.newspilot-button-disabled:active {
    border: none;
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
    filter: alpha(opacity=40);
    -khtml-opacity: 0.40;
    -moz-opacity: 0.40;
    opacity: 0.40;
    cursor: not-allowed;
    box-shadow: none;
}

.newspilot-button-hidden {
    display: none;
}

/* Firefox: Get rid of the inner focus border */
.newspilot-button::-moz-focus-inner{
    padding: 0;
    border: 0;
}

.newspilot-button-primary,
.newspilot-button-selected,
a.newspilot-button-primary,
a.newspilot-button-selected {
    background-color: rgb(0, 120, 231);
    color: #fff;
}

.button-close{
            color: black;
            border-radius: 4px;
            text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
            background: rgb(255,250,250);
        }
