.Grid {
  position:absolute;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}

.Grid-cell {
  position: relative;
  width: 250px;
  min-height: 14px;
  color: black;
  font-size: 1em;
  margin: 4px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.Grid-cell-header{
  height:36px;
  border:1px;
  padding:0px 2px 2px 0px;
  background-color:white;
}

.Grid-cell-header:hover {
  filter: brightness(0.8);
  -webkit-filter:brightness(0.8);
//    background-color:rgba(0,0,0,0.2);
}

.Grid-content {
  display: flex;
  visibility:hidden;
  position:absolute;
  background-color:white;
  padding:4px;
  border-width:1px;
  border-color:darkgrey;
  border-style:solid solid solid solid;
  width:100%;
  min-width: 360px;
  color:black;
  margin-left: 6px;
  z-index: 2;
  opacity: 0;
  transition: visibility 0.3s, opacity 0.3s ease;
  -webkit-transition: visibility 0.3s, opacity 0.3s ease;
}

.Grid-content > div {
	width: 50%;
	padding: 5px;
}

.shown {
  visibility: visible;
  opacity: 1;
}

.hidden {
  visibility: hidden;
  opacity: 0;
}
/**********************************Service status ****************************/
.service-state {
  position: absolute;
  display: inline-block;
  width:6px;
  height:100%;
  background-color:red;
}

.state-OFFLINE {
  background-color:red;
}

.state-ONLINE {
  background-color:orange;
}

.state-LISTEN {
  background-color:green;
}


/***********************************Images************************************/
.service-icon {
  display: inline;
  position: relative;
  vertical-align:middle;
  width: 32px;
  height: 100%;
  padding: 4px;
  margin-left: 10px;
}

/***********************************Disclosure triangle **********************/
.arrow-up {
  position: absolute;
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid darkgrey;
  //transition: all 0.3s, linear;
}

.arrow-down {
  position: absolute;
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 8px solid darkgrey;
  //transition: all 0.3s, linear;
}

.arrow-right {
  position: absolute;
  width: 0;
  height: 0;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-left: 8px solid darkgrey;
  //transition: all 0.3s, linear;
}

.arrow-left {
  position: absolute;
  width: 0;
  height: 0;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  border-right: 6px solid darkgrey;
  //transition: all 0.3s, linear;
}

.Grid-cell .arrow-right {
  top: 10px;
  right: 10px;
}

.Grid-cell .arrow-left {
  top: 10px;
  right: 10px;
}

.Grid-cell .arrow-up {
  top: 10px;
  right: 10px;
}

.Grid-cell .arrow-down {
  top: 12px;
  right: 8px;
}

/***********************************Dropdown**********************************/
.dropbtn {
    //padding: 6px;
    font-size: 1em;
    border: none;
    //cursor: pointer;
    //margin:4px;
    //box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.drop{
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    padding:3px;
    margin-top:6px;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 4px 10px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: gainsboro;
}

/* Show the dropdown menu on hover */
.drop:hover .dropdown-content {
//.btnWrapper:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
//.drop:hover .dropbtn {background-color: gainsboro;}
.btnWrapper {
  padding: 6px;
  cursor: pointer;
  margin:4px;

}
.drop:hover .btnWrapper {background-color: gainsboro;}
